<body class="workoutbody">
	<div class="container">
		<h3 class="workoutheading">Workouts</h3>

	<%= button_to "Add workouts", new_workout_path, method: :get, class: "btn btn-dark" %>

			<div class="customerbookingtext">

				<% @workouts.each do |workout| %>



		  			<p class="workoutlist">
		  			Workout Day:
		  				<%= workout.workout_category.description %>
		  			</p>



		  			<p class="workoutlist">
		  				Date:
		  				<%= workout.date %>
		  			</p>


						<p class="workoutlist">
		  				<button class="btn btn-dark"><%= link_to 'Details', workout_path(workout) , class: "btn btn-dark" %></button>
						</p>

				<% end %>

			</div>
	</div>

</body>