<body class="aboutbody">
<div class = "container">

<h1 class="aboutheading">About Us</h1>

<p class="abouttext">
	Studies has shown that the more aware track your food intake and workouts progress, the more likely you achieve your goals in the most efficient manner possible. That's why every successful weight management program suggests that you keep a food diary and/or an activity log. But recording everything you eat without the right tools can be tedious at best, or simply impossible at worst.

At Synergym, we focus on making sure you can log your meals and workouts as quickly and easily as possible.This is to ensure that you are more likely you are to stay on track, and thus more likely you are to succeed in your fitness goals in the long run.
</p>


</body>

<h2 class="contactheader">Contact us at </h2>

	<p class="aboutpolicy">Email: Synergym@email.com</p>
	<p class="aboutpolicy">Number :+65 98765432</p>
	<p class="aboutpolicy">Website: Synergym.com </p>