/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


body{

background-color: #ffffff;
background-image: url("backgroundimage.jpg");

 }


 .form {
 background-color:white;

  }

  .buttontext{
  font-family: "Times", sans-serif;
  color:white;
	}




/*loginpage*/

  .loginpage {
  background-color: #ffffff;
}
.loginpagetext {
  font-family: "Times", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.loginpageheading {
  padding-top: 40px;
  text-align: center;
  font-family: "Times", sans-serif;
  font-weight: bolder;
  padding-bottom: 40px;
}


/*signinpage*/

.signupbutton {
  padding-left: 50px;
}

.links {
  padding-right: 75px;
}


.signupsession {
  padding-left: 50px;
  padding-right: 20px;
}

.signuppage {
  background-color: #ffffff;
}
.signuppagetext {
  font-family: "Times", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.signuppageheading {
  padding-top: 40px;
  text-align: center;
  font-family: "Times", sans-serif;
  font-weight: bolder;
  padding-bottom: 30px;
}

.signupbutton {
  padding-left: 50px;
}

/*homepage*/

.homepagetext {
  font-family: "Times", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.images {
	 display: flex;
  justify-content: center;
  padding-top:80px;
  padding-bottom: 50px;
}

.image1 {
	padding-right:70px;
}

.image3 {
	padding-left:50px;
	 display: flex;
  justify-content: center;
 }

/*aboutpage*/

.aboutbody {
	text-align: center;
  font-family: "Times", sans-serif;
}

.aboutheading {
	padding-top:60px;
	padding-bottom:20px;
	text-decoration: underline;
}

.aboutext {
	padding-bottom:30px;
	font-size:25px;
}

.contactheader {
	padding-top:20px;
	padding-bottom:5px;
	text-decoration: underline;
 }



 /*profilepage*/

.profileeditheading {
	font-size:35px;
	padding-bottom:15px;
}
 .biometrictext {
 	font-family: "Times", sans-serif;
 	padding-bottom:20px;
 	 font-size:35px;
 	 text-decoration: underline;
	}

	.usertext {
	font-family: "Times", sans-serif;
	padding-bottom:15px;
	font-size: 25px;
	 }

	 .profilebody {

  text-align: center;
  font-family: "Times", sans-serif;
	  }


.profileeditbody {

  text-align: center;
  font-family: "Times", sans-serif;
  font-size: 25px;
	 }

.backbutton {
 padding-top:10px;
}


/*meals*/

.mealheading {

font-size:35px;
text-decoration: underline;
}

.mealbody {
	font-family: "Times", sans-serif;
	 text-align: center;
 }

 .mealnewbody {
	font-family: "Times", sans-serif;
	 text-align: center;


 }


  .mealnewheading {
  padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
 }

 .mealtext {

 padding-top:20px;
 font-size:25px; }

 .savebutton {
 padding-top:20px;
}


.mealeditbody {
	font-family: "Times", sans-serif;
	text-align: center;
 }

.mealeditheading {
	padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
	font-size:35px;
}


 .mealeditform {

 padding-top:15px;
 font-size:25px; }

/*workout*/

.workoutindexbody {
font-family: "Times", sans-serif;
text-align: center;
}

.workoutheading{
padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
	font-size:35px;
}


.workouttext {
padding-top:30px;
 font-size:25px;
 }

 .workoutnewbody{
 	font-family: "Times", sans-serif;
text-align: center;
 }


 .workoutshowbody{
 	font-family: "Times", sans-serif;
	text-align: center;
 }


 .workouteditbody {
	font-family: "Times", sans-serif;
	text-align: center;

 }

 .workouteditheading {
 		padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
	font-size:35px;

 }

 .workouteditform {
 	padding-top:10px;
 	font-size:25px;
 }


 /*tips*/


 .tipbody {
 	font-family: "Times", sans-serif;
	text-align: center;
 }


 .tipheading {
 	padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
	font-size:35px;
 }

 .tiptext{

 	padding-top:10px;
 	font-size:25px;
 };


 .tipnewbody {
	font-family: "Times", sans-serif;
	 text-align: center;
  }


  .tipnewheading {
  padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
	font-size:35px;
  }


  .tipnewform {

	 padding-top:10px;
 	font-size:25px;

  }

  .tipshowbody {
		font-family: "Times", sans-serif;
	text-align: center;

  }


  .tiptext {
  		padding-top:10px;
 	font-size:25px;

  }


  .tipeditbody {
	font-family: "Times", sans-serif;
	text-align: center;

 }


.tipeditheading {
		padding-top:20px;
	padding-bottom:20px;
	text-decoration: underline;
	font-size:35px;
}


.tipeditform {
	padding-top:10px;
 	font-size:25px;

}



	/*}