<body class="tipbody">
	<div class="container">
		<h3 class="tipheading">Tips</h3>
		<%= button_to "Add Tips", new_tip_path, method: :get, class: "btn btn-dark" %>
		<div class="tiptext">
			<table class="table table-dark">
				<thead>
  				<tr>
  					<th scope="col">#</th>
    				<th scope="col">Tips</th>
    			</tr>
				</thead>
				<tbody>
						<% @tips.each_with_index do |tip, index| %>
						<tr>
							<td class="tiplist">
	  							<%= index + 1 %>
	  					</td>
	  					<td class="tiplist">
	  							<%= tip.description %>
	  					</td>
	  					<td>
	  						<button class="buttontextmeal">
	  							<%= link_to 'details', tip_path(tip) , class: "btn btn-white" %>
	  						</button>
	  					</td>
 						</tr>
 					<% end %>
 				</tbody>
 			</table>
		</div>
	</div>
</body>