<body class="tipbody">
	<div class="container">
		<h3 class="tipheading">Tips</h3>
			<%= button_to "Add tips", new_tip_path, method: :get, class: "btn btn-dark" %>

			<div class="tiptext">


				<% @tips.each do |tip| %>




		  			<p class="tiplist">

		  				<%= tip.description %>
		  			</p>



				<% end %>

			</div>
	</div>

</body>