<body class="tipbody">
	<div class="container">
		<h3 class="tipheading">Tips</h3>
			<%= button_to "Add tips", new_tip_path, method: :get, class: "btn btn-dark" %>

			<div class="tiptext">


				<% @tips.each do |tip| %>




		  			<li class="tiplist">

		  				<%= tip.description %>
		  			</li>


		  			<p class="tiplist">
		  				<button class="btn btn-dark"><%= link_to 'Details', tip_path(tip) , class:"buttontext" %></button>
						</p>




				<% end %>

			</div>
	</div>

</body>